@import 'variaveis-e-mixins';

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: $background-body;

  header {
    margin-bottom: 2rem;
    h1 {
      text-align: center;
      font-family: 'Alfa Slab One', cursive;
      font-size: 4rem;
      background: $primary-font-color; 
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; 
    }
  }
  
  main {
    background: $background-color-card;
    width: 600px;
    border-radius: 10px;
    margin: 0 20px;
    
    @include mobile {
      width: 90%;
    }

    .content {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      text-align: center;
      font-family: 'Roboto', sans-serif;

      p {
        color:white;
        margin: 2.2rem 0;
      }

      button {
        background: $primary-font-color;
        height: 45px;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
        border-radius: 10px;
        margin-bottom: 1.8rem;
        font-family: 'Roboto', sans-serif;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in;

        &:hover {
          border: 1px solid white;
        }
      }
    }
  }
}


